@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruluko&family=Satisfy&display=swap');
#logo{
    display: flex;
    position: relative;
    margin-left: 10px;
    margin-top: 0;
}
.title-logo{
   font-family: 'Satisfy' ;
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 5px;
    
}

.container-logo{
    display:flow-root;
    height: auto;
    align-items: center;
    margin-left: 3%;
}
.welcome-text{
    width: 100vh;
    font-family: 'Ruluko';
    font-size: 1.8rem;
    margin-left: 25%;
    color: #ffffff;
    border: 2px solid #F2D888;
    box-shadow: 3px 3px 3px 3px #F2D888;
    border-radius: 10px;
}
